/* Top Bar Customize */

$custom_panel_bg: transparentize(black, 0.8);
$custom_panel_height: 2em;

#panel {
  background-color: $custom_panel_bg;
  height: $custom_panel_height;
  box-shadow: none;
}
